<tr>
		<td class="username"><%= userdetails.username %></td>
        <td class="password"><%= userdetails.password %></td>
        <td class="name"><%= userdetails.name %></td>
        <td class="email"><%= userdetails.email %></td>
        <td><%= link_to 'edit', 'javaScript:void(0)', :id => "edit_userdetails" %></td>
        <td><%= link_to 'delete', 'javaScript:void(0)', :id => "delete_userdetails" %></td>
</tr>
